@import "../../css/variables/_queries.css";

.projects {
  padding: 85px var(--basePadding);

  @media (--tablet) {
    padding-top: 0;
  }

  &__title {
    max-width: var(--maxWidth);
    margin: 0 auto;
    opacity: 0;
    transform-origin: bottom;
    animation: fade-in-bottom cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s forwards;
    animation-delay: 0.6s;

    h2 {
      font-family: 'Libre Baskerville', serif;
      font-weight: 400;
      font-size: 22px;
      line-height: calc(22px * 1.75);
    }
  }

  &__grid {
    max-width: var(--maxWidth);
    margin: 0 auto;
    opacity: 0;
    transform-origin: bottom;
    animation: fade-in-bottom cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s forwards;
    animation-delay: 0.6s;
  }

  &__link {
    display: block;
    overflow: hidden;
    position: relative;
    box-shadow: 0 30px 75px -15px rgba(50,50,93,0.3), 0 25px 40px -20px rgba(0,0,0,0.1);
    border-radius: 4px;
    background: var(--white);
    color: var(--almostBlack);
    transition: all .2s ease-in-out;
    min-height: 150px;

    &:hover {
      box-shadow: 0 20px 50px -5px rgba(50,50,93,0.2), 0 25px 40px -20px rgba(0,0,0,0.1);
      cursor: pointer;
      transform: scale(0.99);
    }

    &::after {
      display: none;
    }
  }

  &__image {
    border-radius: 4px 4px 0 0;
    /* overflow: hidden;
    height: 0;
    padding-bottom: 62%; */
  }

  &__text {
    padding: 15px 20px;
    font-size: 20px;
    line-height: calc(20px * 1.75);
    font-weight: 600;

    span {
      display: block;
      font-size: 16px;
      line-height: calc(16px * 1.75);
      font-weight: 400;
    }
  }
}

.projects {
  &__grid {
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-gap: var(--basePadding);

    @media (--tablet) {
        grid-template: auto / 1fr;
    }
  }
}
