@import "../../css/variables/_queries.css";

.articles {
  position: relative;
  padding: 85px var(--basePadding);

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 80%;
    top: 2%;
    right: -18%;
    left: -18%;
    z-index: -1;
    transform: rotate(-9deg);
    background-image: linear-gradient(to left top, #dadada, #e3e3e3, #ececec, #f6f6f6, #ffffff);

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(to right bottom, #2a2f32, #262a2c, #262a2c, #212427, #1c1f21);
    }

    @media (--tablet) {
      right: -30%;
      left: -30%;
    }
  }

  &__title {
    max-width: var(--maxWidth);
    margin: 0 auto;

    h2 {
      font-family: 'Libre Baskerville', serif;
      font-weight: 400;
      font-size: 22px;
      line-height: calc(22px * 1.75);
    }
  }

  &__grid {
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: grid;
    grid-template: auto / 1fr;
    grid-gap: var(--basePadding);
  }

  &__link {
    display: grid;
    grid-template-columns: 420px auto;
    grid-gap: var(--basePadding);
    align-items: center;
    border-radius: 4px;
    background: var(--white);
    color: var(--almostBlack);
    box-shadow: 0 30px 75px -15px rgba(50,50,93,0.3), 0 25px 40px -20px rgba(0,0,0,0.1);
    transition: all .2s ease-in-out;

    @media (--smallDesktop) {
      grid-template-columns:  320px 1fr;
    }

    @media (--tablet) {
      grid-template: auto / 1fr;
    }

    &:hover {
      box-shadow: 0 20px 50px -5px rgba(50,50,93,0.2), 0 25px 40px -20px rgba(0,0,0,0.1);
      cursor: pointer;
      transform: scale(0.99);
    }

    &::after {
      display: none;
    }

    @media (prefers-color-scheme: dark) {
      --white: #44484b;
    }
  }

  &__text {
    padding: 15px 20px;
    font-size: 20px;
    line-height: calc(20px * 1.75);
    font-weight: 600;

    span {
      display: block;
      font-size: 16px;
      line-height: calc(16px * 1.75);
      font-weight: 400;

      @media (--smallDesktop) {
        display: none;
      }

      @media (--tablet) {
        display: block;
      }
    }
  }
}
