@import "../../css/variables/_queries.css";

header {
  position: relative;
  padding: var(--basePadding) var(--basePadding) calc(var(--basePadding) * 2);

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 200%;
    top: 15%;
    right: -18%;
    left: -18%;
    z-index: -1;
    transform: rotate(9deg);
    background-image: linear-gradient(to right bottom, #e1e1e1, #e8e8e8, #f0f0f0, #f7f7f7, #ffffff);

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(to right bottom, #2a2f32, #262a2c, #262a2c, #212427, #1c1f21);
    }

    @media (--tablet) {
      top: 9%;
      right: -30%;
      left: -30%;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 60%;
    top: -130px;
    right: -18%;
    left: -18%;
    z-index: -2;
    transform: rotate(9deg);
    background-image: linear-gradient(to left bottom, #ebe9e9, #f0eeef, #f5f4f4, #fafafa, #ffffff);

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(to right bottom, #2a2f32, #262a2c, #262a2c, #212427, #1c1f21);
    }

    @media (--tablet) {
      height: 40%;
      right: -30%;
      left: -30%;
    }
  }

  h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 48px;
    font-weight: 400;
    line-height: calc(48px * 1.25);
    margin: 120px 0 0 0;

    @media (--largePhone) {
      margin: 60px 0 0 0;
      font-size: 38px;
      line-height: calc(38px * 1.25);
    }
  }

  svg {
    max-width: 40px;
    height: auto;

    path {
      fill: var(--blue);
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 0 0 var(--base);
      padding: 0;
      list-style: none;
    }
  }
}

.header {
    &__grid {
    max-width: var(--maxWidth);
    margin: 0 auto;
  }
  &__logo {
    a {
      display: inline;
      &::after {
        display: none;
      }
    }
  }
  &__contact {
    font-size: 16px;
    line-height: calc(16px * 1.75);
  }
  &__content {
    opacity: 0;
    transform-origin: top;
    animation: fade-in-top cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s forwards;
    animation-delay: 0.2s;
  }
}

.header {
  &__grid {
    display: grid;
    grid-template: 40px auto / 20% auto 30%;
  }
  &__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  &__contact {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;

    @media (--tablet) {
      grid-column: 2 / 4;
    }
  }
  &__content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;

    @media (--tablet) {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
  }
}

.post__header {
  .header__grid {
    display: grid;
    grid-template: 40px auto / 20% auto 20%;
  }
}
