@import "../../css/variables/_queries.css";

footer {
  position: relative;
  padding: var(--basePadding) calc(var(--basePadding) * 2);
  font-size: 14px;
  line-height: calc(14px * 1.75);
}

.footer {

  &__inner {
    max-width: var(--maxWidth);
    margin: 0 auto;
    text-align: center;

    p {
      margin: 0;
      font-size: 14px;
      line-height: calc(14px * 1.75);
    }
  }
}

.icon {

  svg {
    height: 18px;
    width: 18px;

    path {
      fill: var(--almostBlack);
      transition: fill .2s ease;
    }
  }
}

.icon-link {
  margin: 0 10px 5px;
  opacity: 0.6;
  transition: opacity .2s ease;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &::after {
    display: none;
  }

  &:hover, &:focus {
    opacity: 1;

    svg {
      path {
        fill: var(--blue);
      }
    }

    &::after {
      display: none;
    }
  }
}
